﻿@model IList<CategoryModel>

@using Nop.Core.Domain.Catalog

@inject IViewComponentSelector viewComponentSelector
@{
    int counter = 0;
}

@if (Model.Count > 0)
{
    <div class="category-grid home-page-category-grid">
        <div class="item-grid">
            @foreach (var item in Model)
            {
                if (counter != 0 && counter % 4 == 0)
                                                {
                                                @:<br>
                                                
                                                }
                <div class="item-box">
                    <div class="category-item">
                        <div class="picture">
                            <a href="@(Url.RouteUrl<Category>(new { SeName = item.SeName }))" title="@item.PictureModel.Title">
                                @if (viewComponentSelector.SelectComponent("LazyLoadImage") != null)
                                {
                                    @await Component.InvokeAsync("LazyLoadImage", new (string Key, string Value)[]
                                    {
                                        ("src", item.PictureModel.ImageUrl),
                                        ("alt", item.PictureModel.AlternateText),
                                        ("title", item.PictureModel.Title)
                                    })

                                }
                                else
                                {
                                    <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                }
                            </a>
                        </div>
                        <div class="title">
                            <div class="title-content-wrapper">
                                <a href="@(Url.RouteUrl<Category>(new { SeName = item.SeName }))" title="@item.PictureModel.Title">
                                    @item.Name
                                </a>
                                @await Component.InvokeAsync("Widget", new { widgetZone = "pacific_itembox_subcategories", additionalData = item.Id })
                            </div>
                        </div>
                    </div>
                </div>
                counter++;
            }
        </div>
    </div>
}