﻿@using Nop.Plugin.Api.Infrastructure
@model Nop.Plugin.Api.Areas.Admin.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";

    //page title
    //ViewBag.Title = T("Plugins.Api.Admin.Page.Settings.Title").Text;

    //active menu item (system name)
    //Html.SetActiveMenuItemSystemName("Api-Settings-Menu");
}

<form asp-controller="ApiAdmin" asp-action="Settings" method="post">
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.Api.Admin.Page.Settings.Title")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("StoreScopeConfiguration")
            @Html.ValidationSummary(false)
            <div class="panel-group">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="EnableApi_OverrideForStore" asp-input="EnableApi" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="EnableApi" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="EnableApi" />
                                <span asp-validation-for="EnableApi"></span>
                            </div>
                        </div>
                        <div class="form-group row advanced-setting">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="TokenExpiryInDays_OverrideForStore" asp-input="TokenExpiryInDays" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="TokenExpiryInDays" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="TokenExpiryInDays" />
                                <span asp-validation-for="TokenExpiryInDays"></span>
                            </div>
                        </div>

                        <div class="form-group row advanced-setting">
                            <div class="col-md-3">
                                <nop-label asp-for="UserName" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="UserName" />
                                <span asp-validation-for="UserName"></span>
                            </div>
                        </div>

                        <div class="form-group row advanced-setting">
                            <div class="col-md-3">
                                <nop-label asp-for="Password" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Password" />
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>

                        <div class="form-group row advanced-setting">
                            <div class="col-md-3">
                                <nop-label asp-for="GrantType" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="GrantType" />
                                <span asp-validation-for="GrantType"></span>
                            </div>
                        </div>

                        <div class="form-group row advanced-setting">
                            <div class="col-md-3">
                                <nop-label asp-for="ApiUrl" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ApiUrl" />
                                <span asp-validation-for="ApiUrl"></span>
                            </div>
                        </div>

                        <div class="form-group row advanced-setting">
                            <div class="col-md-3">
                                <nop-label asp-for="PublicApiUrl" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="PublicApiUrl" />
                                <span asp-validation-for="PublicApiUrl"></span>
                            </div>
                        </div>

                        <div class="form-group row advanced-setting">
                            <div class="col-md-3">
                                <nop-label asp-for="BrightPearlAppRef" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="BrightPearlAppRef" />
                                <span asp-validation-for="BrightPearlAppRef"></span>
                            </div>
                        </div>

                        <div class="form-group row advanced-setting">
                            <div class="col-md-3">
                                <nop-label asp-for="BrightPearlStaffToken" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="BrightPearlStaffToken" />
                                <span asp-validation-for="BrightPearlStaffToken"></span>
                            </div>
                        </div>


                        <div class="form-group row advanced-setting">
                            <div class="col-md-3">
                                <nop-label asp-for="ClientId" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ClientId" />
                                <span asp-validation-for="ClientId"></span>
                            </div>
                        </div>

                        <div class="form-group row advanced-setting">
                            <div class="col-md-3">
                                <nop-label asp-for="ClientSecret" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ClientSecret" />
                                <span asp-validation-for="ClientSecret"></span>
                            </div>
                        </div>

                        <div class="form-group row advanced-setting">
                            <div class="col-md-3">
                                <nop-label asp-for="RedirectUri" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="RedirectUri" />
                                <span asp-validation-for="RedirectUri"></span>
                            </div>
                        </div>

                        <div class="form-group row advanced-setting">
                            <div class="col-md-3">
                                <nop-label asp-for="Token" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Token" />

                                <span asp-validation-for="Token"></span>
                                <button type="submit" name="generatetoken" class="btn btn-info">
                                    @T("Plugin.Api.BrightPearl.Field.GenerateToken")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
