﻿@using Nop.Core
@using Nop.Core.Domain.Catalog

@inject CatalogSettings catalogSettings
@inject IWorkContext workContext

@{
    var supportRtl = (await workContext.GetWorkingLanguageAsync()).Rtl;

    if (supportRtl)
    {
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/1800.rtl.css");
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/1500.rtl.css");
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/1260.rtl.css");
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/768.rtl.css");
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/480.rtl.css");
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/mobile.rtl.css");
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/styles.rtl.css");
    }
    else
    {
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/1800.css");
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/1500.css");
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/1260.css");
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/768.css");
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/480.css");
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/mobile.css");
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/styles.css");
        NopHtml.AppendCssFileParts("~/Themes/Pacific/Content/css/custom-style.css");
    }

    if (catalogSettings.DisplayAllPicturesOnCatalogPages)
    {
        NopHtml.AppendCssFileParts("~/lib_npm/swiper/swiper-bundle.min.css");
    }

    NopHtml.AppendCssFileParts("~/Plugins/SevenSpikes.Core/Styles/slick-slider-1.6.0.css");
    NopHtml.AppendCssFileParts("~/Plugins/SevenSpikes.Core/Styles/perfect-scrollbar.min.css");

    <script src="~/Plugins/SevenSpikes.Core/Scripts/perfect-scrollbar.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Core/Scripts/slick-slider-1.6.0.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Core/Scripts/sevenspikes.core.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Core/Scripts/sevenspikes.theme.min.js" asp-location="Footer"></script>

    <script src="~/Themes/Pacific/Content/scripts/pacific.js" asp-location="Footer"></script>
}