﻿body {
    background-color: #ffffff !important;
}
.header-menu .sublist {
    box-shadow: 0 0 20px rgba(2, 2, 4, 0.2);
    background-color: #fff;
    column-count: 4;
}
    .header-menu.wrapped .menu-body > ul > li > a {
        padding: 6px 18px !important;
    }

    .header-menu .sublist li a {
        font-weight: 500;
        text-transform: uppercase;
    }

        .header-menu .sublist li + li {
            border-bottom: 1px solid #eee;
        }

    .header-selectors-wrapper,
    .header-links-wrapper {
        float: left !important;
    }

    .admin-header-links {
        float: right !important;
    }

        .admin-header-links a {
            background-color: #e7e7e7;
        }

    .hedar-links-item > a:hover {
        color: #444444;
    }

    .product-grid .title strong {
        color: #000000;
    }

    .hedar-links-item > a:before {
        left: -16px !important;
    }

    .hedar-links-item .ico-register,
    .hedar-links-item .ico-login {
        margin-left: 18px;
    }

    .hedar-links-item > a {
        padding: 0 16px !important;
        text-transform: uppercase;
    }
        .hedar-links-item > a.ico-logout {
            margin-left: 26px;
        }

        .contact-page .row {
            margin-right: -15px;
            margin-left: -15px;
        }

    .contact-page .col-sm-6 {
        width: 50%;
        float: left;
    }

    .contact-page .page-body {
        background-color: transparent !important;
        max-width: 100% !important;
        border: transparent !important;
    }

    .contact-page .topic-block {
        border: transparent !important;
    }

    .contact-page .topic-block-title {
        display: none;
    }

    .contactpage.panel-default {
        display: inline-block;
        box-shadow: 0 3px 16px -2px rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
        padding: 28px;
    }

        .contactpage.panel-default p {
            font-size: 14px;
            color: #000;
        }

    .contactpage .form {
        display: inline-block;
        width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        text-align: left;
    }

        .contactpage .form .required {
            color: #000000;
        }

    .contactpage .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 20px;
        position: relative;
    }

    .page-title {
        border-bottom: transparent !important;
        padding: 0 !important;
        margin: 0 !important;
    }

        .page-title h1 {
            color: #f68d1e !important;
            text-align: left !important;
            font-weight: 700 !important;
        }

.contactpage .submit {
    border-color: #f68d1e;
    text-transform: uppercase;
    font-family: Lato, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #f68d1e;
    border: 0;
}
    .footer-category img {
    border-radius: 4px;
    padding: 6px 12px;
    transition: background 0.3s ease;
}
.home-banner {
    width: 100%;
    float: left;
    margin-bottom: 50px;
    height: 650px !important;
    max-height: 650px !important;
}

.banner-left {
    max-width: 50%;
    min-width: 50%;
    float: left;
    right: 50%;
    position: relative;
}

        .banner-left .item-box {
            width: 48%;
            float: left;
            margin: 10px 5px;
        }
        .banner-left .title {
            display: none;
        }

.home-banner .slider-wrapper.theme-custom {
    max-width: 50%;
    min-width: 50%;
    float: left;
    left: 50%;
}
.footer-category {
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
}
    .footer-category img {
        height: auto !important;
        margin: 0 10px;
    }

    .footer {
        padding: 0;
    }
    .footer .footer-menu {
        padding: 0;
        margin: 0px auto 40px;
        text-align: center;
    }
        .footer .footer-menu a {
            color: #000000;
            padding: 20px;
            background: 0 0;
            font-size: 18px;
            line-height: 1.3em;
            transition: .3s ease;
            text-transform: uppercase;
        }
    .footer-lower .footer-lower-center img {
        width: 120px;
        height: 30px;
    }
    .footer-blocks-wrapper {
        margin: 0 auto;
        text-align: center;
    }
        .footer-blocks-wrapper .footer-block-img h6, .footer-blocks-wrapper h6 {
            color: #000000;
            font-size: 14px;
            margin-bottom: 6px;
        }
        .footer-blocks-wrapper .btn.btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
            display: inline-block;
            padding: 6px 12px;
            font-size: 14px;
            border-radius: 4px;
        }
    .footer .bg-logo-authorizenet-small {
        display: inline-block;
        vertical-align: top;
        background: url(/Themes/Pacific/Content/img/logo-sprites.png) no-repeat -787px -181px;
        width: 80px;
        height: 50px;
        margin: 50px 5px;
    }
    .footer .bg-logo-asi-small {
        display: inline-block;
        vertical-align: top;
        background: url(/Themes/Pacific/Content/img/logo-sprites.png) no-repeat -869px -181px;
        width: 93px;
        height: 50px;
        margin: 50px 5px;
    }
    .footer .bg-logo-bbb-small {
        display: inline-block;
        vertical-align: top;
        background: url(/Themes/Pacific/Content/img/logo-sprites.png) no-repeat -879px -83px;
        width: 96px;
        height: 50px;
        margin: 50px 5px;
    }
    .footer-blocks-wrapper.right .col-sm-4 {
        background: url(/Themes/Pacific/Content/img/creditcards.png);
        background-size: 280px;
        background-repeat: no-repeat;
        background-position: center 32px;
        height: 90px;
    }
    .footer-lower-center .footer-disclaimer {
        text-align: center;
        width: 100%;
        margin-top: 15px !important;
    }
    .footer {
        padding-top: 0px;
    }
    .master-wrapper-content .master-column-wrapper .center-1 {
        margin: 0 0 80px;
    }

    @media (max-width: 1199px) {
        .banner-left .item-box {
            width: 44%;
        }
        .home-banner {
            height: 450px !important;
            max-height: 450px !important;
        }
    }
    @media (max-width: 991px) {
        .banner-left {
            max-width: 100%;
            float: left;
            right: 0;
        }
            .banner-left .item-box {
                width: 48%;
            }
        .home-banner .slider-wrapper.theme-custom {
            max-width: 100%;
            left:0;
        }
        .home-banner {
            height: 1100px !important;
            max-height: 1100px !important;
        }
    }
    @media (max-width: 767px) {
        .home-banner {
            height: 1000px !important;
            max-height: 1000px !important;
        }
    }
    @media (max-width: 639px) {
        .banner-left .item-box {
            max-width: 46%;
        }
        .home-banner {
            height: 700px !important;
            max-height: 700px !important;
        }

    }

@media (min-width: 1001px) {
    .slider-wrapper.theme-custom {
        max-width: 50%;
    }
}


