﻿@model ContactUsModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-contact-page");
}
<div class="page contact-page">
    <div class="page-title">
        <h1>@T("PageTitle.ContactUs")</h1>
    </div>
    <div class="page-body">

        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.ContactUsTop, additionalData = Model })
        <div class="row">
            <div class="col-sm-6 ">
                <div id="contactformdiv" class="contactpage panel panel-default">
                    <p id="contact_tip_text">Please use the form below to contact us, for alternative methods our telephone and mailing address are also given. Fields marked <span class="inputRequirement">*</span> are mandatory. You can call us at <strong>888-923-9675.</strong></p>
                    @if (Model.SuccessfullySent)
                    {
                        <div class="result">
                            @Model.Result
                        </div>
                    }
                    else
                    {

                        <form asp-route="ContactUs" method="post">
                            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                            <div class="fieldset">
                                <div class="form-fields">
                                    <div class="inputs">
                                        <label asp-for="FullName" asp-postfix=":"></label>
                                        <input asp-for="FullName" placeholder="@T("ContactUs.FullName.Hint")" class="fullname" />
                                        <nop-required />
                                        <span asp-validation-for="FullName"></span>
                                    </div>
                                    <div class="inputs">
                                        <label asp-for="CompanyName" asp-postfix=":"></label>
                                        <input asp-for="CompanyName" placeholder="@T("contactus.enquiry.CompanyName.hint")" class="fullname" />
                                        <nop-required />

                                    </div>
                                    <div class="inputs">
                                        <label asp-for="Email" asp-postfix=":"></label>
                                        <input asp-for="Email" placeholder="@T("ContactUs.Email.Hint")" class="email" />
                                        <nop-required />
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                    @if (Model.SubjectEnabled)
                                    {
                                        <div class="inputs">
                                            <label asp-for="Subject" asp-postfix=":"></label>
                                            <input asp-for="Subject" placeholder="@T("ContactUs.Subject.Hint")" class="subject" />
                                            <nop-required />
                                            <span asp-validation-for="Subject"></span>
                                        </div>
                                    }
                                    <div class="inputs">
                                        <label asp-for="Enquiry" asp-postfix=":"></label>
                                        <textarea asp-for="Enquiry" placeholder="@T("ContactUs.Enquiry.Hint")" class="enquiry"></textarea>
                                        <nop-required />
                                        <span asp-validation-for="Enquiry"></span>
                                    </div>
                                    @if (Model.DisplayCaptcha)
                                    {
                                        <nop-captcha />
                                    }
                                </div>
                            </div>
                            <div class="buttons">
                                <button type="submit" name="send-email" class="button-1 contact-us-button">@T("ContactUs.Button")</button>
                            </div>
                        </form>
                    }
                </div>
                <!--contactformdiv-->
            </div>
            <!--col-sm-6-->
            <div class="col-sm-6">
                @await Component.InvokeAsync(typeof(TopicBlockViewComponent), new { systemName = "ContactUs" })
            </div>
            <!--col-sm-6--><strong> </strong>
        </div>

        
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.ContactUsBottom, additionalData = Model })
    </div>
</div>


